<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wade.fsime">

	<uses-permission android:name="android.permission.BIND_INPUT_METHOD" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application android:label="@string/ime_name" android:icon="@drawable/icon">

		<service android:permission="android.permission.BIND_INPUT_METHOD"
			android:name="SlideTypeKeyboard">
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
			<meta-data android:name="android.view.im" android:resource="@xml/method" />
		</service>	
		
		<activity android:name="MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	
		<activity android:name="SettingsActivity" />

		<activity android:name="SettingsActivity2" android:launchMode="singleInstance" />
	</application>

</manifest>
